In [2]:
import pandas as pd
import numpy as np

In [3]:
movie = pd.read_csv('data/movie.csv', nrows=1000)
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float64
 3   duration                   997 non-null    float64
 4   director_facebook_likes    982 non-null    float64
 5   actor_3_facebook_likes     998 non-null    float64
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float64
 8   gross                      965 non-null    float64
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 218.9+ KB

In [4]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [5]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [6]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [7]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [8]:
movie.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,998.0,2.246503e+02,1.418149e+02,1.00,125.50,190.00,2.937500e+02,813.0
duration,997.0,1.167242e+02,2.616562e+01,22.00,100.00,115.00,1.300000e+02,280.0
director_facebook_likes,982.0,1.310123e+03,4.033584e+03,0.00,14.25,101.00,3.800000e+02,22000.0
actor_3_facebook_likes,998.0,1.298911e+03,2.845385e+03,0.00,307.25,562.00,8.540000e+02,23000.0
actor_1_facebook_likes,1000.0,1.066608e+04,1.124150e+04,2.00,980.50,10000.00,1.500000e+04,87000.0
gross,965.0,1.094586e+08,9.596531e+07,9213.00,43337279.00,80033643.00,1.412040e+08,760505847.0
num_voted_users,1000.0,1.775484e+05,1.981364e+05,6.00,54018.25,111052.50,2.301000e+05,1676169.0
cast_total_facebook_likes,1000.0,1.662582e+04,1.758710e+04,2.00,2972.00,12953.00,2.270325e+04,108016.0
facenumber_in_poster,998.0,1.224449e+00,1.703652e+00,0.00,0.00,1.00,2.000000e+00,15.0
num_user_for_reviews,998.0,5.274569e+02,5.719146e+02,1.00,194.00,342.00,6.392500e+02,5060.0
budget,961.0,9.230017e+07,4.665297e+07,1400000.00,60000000.00,75000000.00,1.120000e+08,300000000.0
title_year,980.0,2.005715e+03,6.702154e+00,1962.00,2001.00,2006.00,2.011000e+03,2016.0
actor_2_facebook_likes,999.0,3.268672e+03,5.171729e+03,0.00,555.50,871.00,3.000000e+03,27000.0
imdb_score,1000.0,6.496200e+00,1.000963e+00,2.20,5.90,6.50,7.200000e+00,9.0
aspect_ratio,990.0,2.275566e+00,1.103291e+00,1.33,1.85,2.35,2.350000e+00,16.0
movie_facebook_likes,1000.0,1.593171e+04,3.123175e+04,0.00,0.00,606.00,1.900000e+04,349000.0

In [9]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [10]:
np.iinfo('int32')

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [11]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [12]:
#정보 손실 있을 수도 있음
np.iinfo('int8')

iinfo(min=-128, max=127, dtype=int8)

In [13]:
movie2 = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16
                       })
movie2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   int16
dtypes: float16(13), int16(3), object(12)
memory usage: 125.1+ KB

In [14]:
round(125.1/218.9, 2)

0.57

In [15]:
movie2.describe(include='O')

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,997,982,999,1000,1000,1000,998,992,1000,998,998,986
unique,2,469,695,371,427,1000,823,992,1000,7,14,9
top,Color,Steven Spielberg,Morgan Freeman,Action|Adventure|Sci-Fi,Will Smith,Avatar,Steve Coogan,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
freq,973,15,11,39,17,1,7,1,1,987,865,474

In [16]:
movie2.color.value_counts()

Color              973
Black and White     24
Name: color, dtype: int64

In [17]:
movie2.director_name.value_counts()

Steven Spielberg    15
Ridley Scott        10
Ron Howard          10
Michael Bay         10
Clint Eastwood       8
                    ..
David Kellogg        1
Dan Scanlon          1
Robert Luketic       1
Gil Kenan            1
John Carpenter       1
Name: director_name, Length: 469, dtype: int64

In [18]:
movie2.actor_2_name.value_counts()

Morgan Freeman         11
Adam Sandler            8
Orlando Bloom           7
Brad Pitt               6
Angelina Jolie Pitt     6
                       ..
Leven Rambin            1
George Harris           1
Kim Dickens             1
Rachael Harris          1
Brittany Curran         1
Name: actor_2_name, Length: 695, dtype: int64

In [19]:
movie3 = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16,
                           'color': 'category',
                           'director_name': 'category',
                           'actor_2_name': 'category',
                           'genres': 'category',
                           'actor_1_name': 'category',
                           'movie_title': 'category',
                           'actor_3_name': 'category',
                           'plot_keywords': 'category',
                           'movie_imdb_link': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating': 'category'
                       })
movie3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    category
 1   director_name              982 non-null    category
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    category
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   category
 10  actor_1_name               1000 non-null   category
 11  movie_title                1000 non-null   category
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    category
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    category
 17  movie_imdb_link            1000 non-null   category
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    category
 20  country                    998 non-null    category
 21  content_rating             986 non-null    category
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   int16
dtypes: category(12), float16(13), int16(3)
memory usage: 283.3 KB

In [21]:
cols = ['color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 
        'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
        'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes']

movie_iter = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16,
                           'color': 'category',
                           'director_name': 'category',
                           'actor_2_name': 'category',
                           'genres': 'category',
                           'actor_1_name': 'category',
                           'movie_title': 'category',
                           'actor_3_name': 'category',
                           'plot_keywords': 'category',
                           'movie_imdb_link': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating': 'category'
                       },
                       usecols=cols,
                       chunksize=300  #이 부분이죠!
                       )

def process(df):
    return f'processed {df.shape} shape of df {df.iloc[0, :]}'

for chunk in movie_iter:
    print(process(chunk))

processed (300, 25) shape of df color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                   723.0
duration                                                                 178.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                   855.0
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                  1000.0
gross                                                                      inf
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                             Avatar
num_voted_users                                                         -31300
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                       0.0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                    3054.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                     inf
title_year                                                              2009.0
actor_2_facebook_likes                                                   936.0
Name: 0, dtype: object
processed (300, 25) shape of df color                                                                    Color
director_name                                                      Chris Wedge
num_critic_for_reviews                                                   203.0
duration                                                                 102.0
director_facebook_likes                                                   77.0
actor_3_facebook_likes                                                   120.0
actor_2_name                                                       Emma Kenney
actor_1_facebook_likes                                                 14000.0
gross                                                                      inf
genres                                      Adventure|Animation|Family|Fantasy
actor_1_name                                                   Josh Hutcherson
movie_title                                                               Epic
num_voted_users                                                          20297
cast_total_facebook_likes                                                14552
actor_3_name                                                        Troy Evans
facenumber_in_poster                                                       2.0
plot_keywords                father daughter relationship|forest|miniature ...
movie_imdb_link              http://www.imdb.com/title/tt0848537/?ref_=fn_t...
num_user_for_reviews                                                     113.0
language                                                               English
country                                                                    USA
content_rating                                                              PG
budget                                                                     inf
title_year                                                              2013.0
actor_2_facebook_likes                                                   151.0
Name: 300, dtype: object
processed (300, 25) shape of df color                                                                    Color
director_name                                                     Oliver Stone
num_critic_for_reviews                                                   297.0
duration                                                                 136.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                    17.0
actor_2_name                                                  Austin Pendleton
actor_1_facebook_likes                                                   903.0
gross                                                                      inf
genres                                                                   Drama
actor_1_name                                                    Frank Langella
movie_title                                    Wall Street: Money Never Sleeps
num_voted_users                                                          18582
cast_total_facebook_likes                                                 1579
actor_3_name                                               John Buffalo Mailer
facenumber_in_poster                                                       2.0
plot_keywords                      corporate greed|crisis|economy|greed|mentor
movie_imdb_link              http://www.imdb.com/title/tt1027718/?ref_=fn_t...
num_user_for_reviews                                                     245.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                     inf
title_year                                                              2010.0
actor_2_facebook_likes                                                   592.0
Name: 600, dtype: object
processed (100, 25) shape of df color                                                                    Color
director_name                                                   Jonathan Demme
num_critic_for_reviews                                                    78.0
duration                                                                 172.0
director_facebook_likes                                                  438.0
actor_3_facebook_likes                                                   466.0
actor_2_name                                                    Kimberly Elise
actor_1_facebook_likes                                                   852.0
gross                                                                      inf
genres                                                    Drama|History|Horror
actor_1_name                                                     Oprah Winfrey
movie_title                                                            Beloved
num_voted_users                                                           6082
cast_total_facebook_likes                                                 2397
actor_3_name                                                       Hill Harper
facenumber_in_poster                                                       1.0
plot_keywords                                 farm|freedom|ohio|slavery|spirit
movie_imdb_link              http://www.imdb.com/title/tt0120603/?ref_=fn_t...
num_user_for_reviews                                                     207.0
language                                                               English
country                                                                    USA
content_rating                                                               R
budget                                                                     inf
title_year                                                              1998.0
actor_2_facebook_likes                                                   637.0
Name: 900, dtype: object