In [2]:
import pandas as pd
import numpy as np

과제2. movies.csv 파일이 메모리에서 차지하는 용량을 줄이려고 합니다. 어떤 방법들이 있고, 시행했을 때 얼마나 메모리가 줄어들까요?

In [27]:
movie = pd.read_csv('data/movie.csv', nrows=1000)
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Color,Clint Eastwood,146.0,110.0,16000.0,581.0,Anjelica Huston,16000.0,26199517.0,Action|Crime|Drama|Mystery|Thriller,...,260.0,English,USA,R,50000000.0,2002.0,1000.0,6.4,2.35,705
996,Color,Tom Tykwer,245.0,118.0,670.0,294.0,Brían F. O'Byrne,6000.0,25450527.0,Action|Crime|Drama|Mystery|Thriller,...,190.0,English,USA,R,50000000.0,2009.0,450.0,6.5,2.35,0
997,Color,John Carpenter,104.0,101.0,0.0,764.0,Valeria Golino,12000.0,25407250.0,Action|Adventure|Sci-Fi|Thriller,...,227.0,English,USA,R,50000000.0,1996.0,898.0,5.7,2.35,0
998,Color,NaN,4.0,60.0,NaN,398.0,Brittany Curran,629.0,NaN,Drama|Mystery|Thriller,...,22.0,English,USA,NaN,NaN,NaN,512.0,7.5,16.00,915
999,Color,Brad Bird,162.0,90.0,663.0,521.0,Harry Connick Jr.,14000.0,23159305.0,Action|Adventure|Animation|Comedy|Drama|Family...,...,514.0,English,USA,PG,70000000.0,1999.0,631.0,8.0,2.35,0

In [28]:
movie = pd.read_csv('data/movie.csv', nrows=1000)
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float64
 3   duration                   997 non-null    float64
 4   director_facebook_likes    982 non-null    float64
 5   actor_3_facebook_likes     998 non-null    float64
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float64
 8   gross                      965 non-null    float64
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 218.9+ KB

In [29]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [30]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [31]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [32]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [33]:
movie.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,998.0,2.246503e+02,1.418149e+02,1.00,125.50,190.00,2.937500e+02,813.0
duration,997.0,1.167242e+02,2.616562e+01,22.00,100.00,115.00,1.300000e+02,280.0
director_facebook_likes,982.0,1.310123e+03,4.033584e+03,0.00,14.25,101.00,3.800000e+02,22000.0
actor_3_facebook_likes,998.0,1.298911e+03,2.845385e+03,0.00,307.25,562.00,8.540000e+02,23000.0
actor_1_facebook_likes,1000.0,1.066608e+04,1.124150e+04,2.00,980.50,10000.00,1.500000e+04,87000.0
gross,965.0,1.094586e+08,9.596531e+07,9213.00,43337279.00,80033643.00,1.412040e+08,760505847.0
num_voted_users,1000.0,1.775484e+05,1.981364e+05,6.00,54018.25,111052.50,2.301000e+05,1676169.0
cast_total_facebook_likes,1000.0,1.662582e+04,1.758710e+04,2.00,2972.00,12953.00,2.270325e+04,108016.0
facenumber_in_poster,998.0,1.224449e+00,1.703652e+00,0.00,0.00,1.00,2.000000e+00,15.0
num_user_for_reviews,998.0,5.274569e+02,5.719146e+02,1.00,194.00,342.00,6.392500e+02,5060.0
budget,961.0,9.230017e+07,4.665297e+07,1400000.00,60000000.00,75000000.00,1.120000e+08,300000000.0
title_year,980.0,2.005715e+03,6.702154e+00,1962.00,2001.00,2006.00,2.011000e+03,2016.0
actor_2_facebook_likes,999.0,3.268672e+03,5.171729e+03,0.00,555.50,871.00,3.000000e+03,27000.0
imdb_score,1000.0,6.496200e+00,1.000963e+00,2.20,5.90,6.50,7.200000e+00,9.0
aspect_ratio,990.0,2.275566e+00,1.103291e+00,1.33,1.85,2.35,2.350000e+00,16.0
movie_facebook_likes,1000.0,1.593171e+04,3.123175e+04,0.00,0.00,606.00,1.900000e+04,349000.0

In [34]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [35]:
np.iinfo('int32')

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [36]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [37]:
#정보 손실 있을 수도 있음
np.iinfo('int8')

iinfo(min=-128, max=127, dtype=int8)

In [38]:
# dtype 매개변수를 사용해 정확한 수치 형식을 사용하도록 지정

movie2 = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16
                       })
movie2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   int16
dtypes: float16(13), int16(3), object(12)
memory usage: 125.1+ KB

In [39]:
round(125.1/218.9, 2)

0.57

In [42]:
movie2.describe(include='O')

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,997,982,999,1000,1000,1000,998,992,1000,998,998,986
unique,2,469,695,371,427,1000,823,992,1000,7,14,9
top,Color,Steven Spielberg,Morgan Freeman,Action|Adventure|Sci-Fi,Will Smith,Avatar,Steve Coogan,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
freq,973,15,11,39,17,1,7,1,1,987,865,474

In [43]:
movie2.color.value_counts()

Color              973
Black and White     24
Name: color, dtype: int64

In [44]:
movie2.director_name.value_counts()

Steven Spielberg    15
Ridley Scott        10
Ron Howard          10
Michael Bay         10
Clint Eastwood       8
                    ..
David Kellogg        1
Dan Scanlon          1
Robert Luketic       1
Gil Kenan            1
John Carpenter       1
Name: director_name, Length: 469, dtype: int64

In [45]:
movie2.actor_2_name.value_counts()

Morgan Freeman         11
Adam Sandler            8
Orlando Bloom           7
Brad Pitt               6
Angelina Jolie Pitt     6
                       ..
Leven Rambin            1
George Harris           1
Kim Dickens             1
Rachael Harris          1
Brittany Curran         1
Name: actor_2_name, Length: 695, dtype: int64

In [46]:
# dtype 메개변수를 사용해 객체 형식을 범주형으로 변경

movie3 = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16,
                           'color': 'category',
                           'director_name': 'category',
                           'actor_2_name': 'category',
                           'genres': 'category',
                           'actor_1_name': 'category',
                           'movie_title': 'category',
                           'actor_3_name': 'category',
                           'plot_keywords': 'category',
                           'movie_imdb_link': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating': 'category'
                       })
movie3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    category
 1   director_name              982 non-null    category
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    category
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   category
 10  actor_1_name               1000 non-null   category
 11  movie_title                1000 non-null   category
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    category
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    category
 17  movie_imdb_link            1000 non-null   category
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    category
 20  country                    998 non-null    category
 21  content_rating             986 non-null    category
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
 25  imdb_score                 1000 non-null   float16
 26  aspect_ratio               990 non-null    float16
 27  movie_facebook_likes       1000 non-null   int16
dtypes: category(12), float16(13), int16(3)
memory usage: 283.3 KB

In [49]:
# 무시해도 되는 열이 있다면 usecols 사용해 로드할 열 지정

cols = ['color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 
        'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
        'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes']

movie4 = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16,
                           'color': 'category',
                           'director_name': 'category',
                           'actor_2_name': 'category',
                           'genres': 'category',
                           'actor_1_name': 'category',
                           'movie_title': 'category',
                           'actor_3_name': 'category',
                           'plot_keywords': 'category',
                           'movie_imdb_link': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating': 'category'
                       },
                       usecols=cols)
movie4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    category
 1   director_name              982 non-null    category
 2   num_critic_for_reviews     998 non-null    float16
 3   duration                   997 non-null    float16
 4   director_facebook_likes    982 non-null    float16
 5   actor_3_facebook_likes     998 non-null    float16
 6   actor_2_name               999 non-null    category
 7   actor_1_facebook_likes     1000 non-null   float16
 8   gross                      965 non-null    float16
 9   genres                     1000 non-null   category
 10  actor_1_name               1000 non-null   category
 11  movie_title                1000 non-null   category
 12  num_voted_users            1000 non-null   int16
 13  cast_total_facebook_likes  1000 non-null   int16
 14  actor_3_name               998 non-null    category
 15  facenumber_in_poster       998 non-null    float16
 16  plot_keywords              992 non-null    category
 17  movie_imdb_link            1000 non-null   category
 18  num_user_for_reviews       998 non-null    float16
 19  language                   998 non-null    category
 20  country                    998 non-null    category
 21  content_rating             986 non-null    category
 22  budget                     961 non-null    float16
 23  title_year                 980 non-null    float16
 24  actor_2_facebook_likes     999 non-null    float16
dtypes: category(12), float16(11), int16(2)
memory usage: 277.4 KB

In [48]:
# 전체 데이터를 메모리에 읽어 들이지 않고 일부만 처리 -> chunksize 매개변수 사용

cols = ['color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 
        'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
        'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes']

movie_iter = pd.read_csv('data/movie.csv', nrows=1000,
                       dtype={
                           'num_critic_for_reviews': np.float16,
                           'duration': np.float16,
                           'director_facebook_likes': np.float16,
                           'actor_3_facebook_likes': np.float16,
                           'actor_1_facebook_likes': np.float16,
                           'gross': np.float16,
                           'facenumber_in_poster': np.float16,
                           'num_user_for_reviews': np.float16,
                           'budget': np.float16,
                           'title_year': np.float16,
                           'actor_2_facebook_likes': np.float16,
                           'imdb_score': np.float16,
                           'aspect_ratio': np.float16,
                           'num_voted_users': np.int16,
                           'cast_total_facebook_likes': np.int16,
                           'movie_facebook_likes': np.int16,
                           'color': 'category',
                           'director_name': 'category',
                           'actor_2_name': 'category',
                           'genres': 'category',
                           'actor_1_name': 'category',
                           'movie_title': 'category',
                           'actor_3_name': 'category',
                           'plot_keywords': 'category',
                           'movie_imdb_link': 'category',
                           'language': 'category',
                           'country': 'category',
                           'content_rating': 'category'
                       },
                       usecols=cols,
                       chunksize=300  
                       )

def process(df):
    return f'processed {df.shape} shape of df {df.iloc[0, :]}'

for chunk in movie_iter:
    print(process(chunk))

processed (300, 25) shape of df color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                   723.0
duration                                                                 178.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                   855.0
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                  1000.0
gross                                                                      inf
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                             Avatar
num_voted_users                                                         -31300
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                       0.0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                    3054.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                     inf
title_year                                                              2009.0
actor_2_facebook_likes                                                   936.0
Name: 0, dtype: object
processed (300, 25) shape of df color                                                                    Color
director_name                                                      Chris Wedge
num_critic_for_reviews                                                   203.0
duration                                                                 102.0
director_facebook_likes                                                   77.0
actor_3_facebook_likes                                                   120.0
actor_2_name                                                       Emma Kenney
actor_1_facebook_likes                                                 14000.0
gross                                                                      inf
genres                                      Adventure|Animation|Family|Fantasy
actor_1_name                                                   Josh Hutcherson
movie_title                                                               Epic
num_voted_users                                                          20297
cast_total_facebook_likes                                                14552
actor_3_name                                                        Troy Evans
facenumber_in_poster                                                       2.0
plot_keywords                father daughter relationship|forest|miniature ...
movie_imdb_link              http://www.imdb.com/title/tt0848537/?ref_=fn_t...
num_user_for_reviews                                                     113.0
language                                                               English
country                                                                    USA
content_rating                                                              PG
budget                                                                     inf
title_year                                                              2013.0
actor_2_facebook_likes                                                   151.0
Name: 300, dtype: object
processed (300, 25) shape of df color                                                                    Color
director_name                                                     Oliver Stone
num_critic_for_reviews                                                   297.0
duration                                                                 136.0
director_facebook_likes                                                    0.0
actor_3_facebook_likes                                                    17.0
actor_2_name                                                  Austin Pendleton
actor_1_facebook_likes                                                   903.0
gross                                                                      inf
genres                                                                   Drama
actor_1_name                                                    Frank Langella
movie_title                                    Wall Street: Money Never Sleeps
num_voted_users                                                          18582
cast_total_facebook_likes                                                 1579
actor_3_name                                               John Buffalo Mailer
facenumber_in_poster                                                       2.0
plot_keywords                      corporate greed|crisis|economy|greed|mentor
movie_imdb_link              http://www.imdb.com/title/tt1027718/?ref_=fn_t...
num_user_for_reviews                                                     245.0
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                     inf
title_year                                                              2010.0
actor_2_facebook_likes                                                   592.0
Name: 600, dtype: object
processed (100, 25) shape of df color                                                                    Color
director_name                                                   Jonathan Demme
num_critic_for_reviews                                                    78.0
duration                                                                 172.0
director_facebook_likes                                                  438.0
actor_3_facebook_likes                                                   466.0
actor_2_name                                                    Kimberly Elise
actor_1_facebook_likes                                                   852.0
gross                                                                      inf
genres                                                    Drama|History|Horror
actor_1_name                                                     Oprah Winfrey
movie_title                                                            Beloved
num_voted_users                                                           6082
cast_total_facebook_likes                                                 2397
actor_3_name                                                       Hill Harper
facenumber_in_poster                                                       1.0
plot_keywords                                 farm|freedom|ohio|slavery|spirit
movie_imdb_link              http://www.imdb.com/title/tt0120603/?ref_=fn_t...
num_user_for_reviews                                                     207.0
language                                                               English
country                                                                    USA
content_rating                                                               R
budget                                                                     inf
title_year                                                              1998.0
actor_2_facebook_likes                                                   637.0
Name: 900, dtype: object

-> dtype 매개변수를 사용해 더 적은 수치 형식 사용하여 용량 줄이는 방법과 객체 형식을 범주형으로 변경하는 것과 로드할 열 지정하여 용량 줄이기, 전체 데이터를 읽어 들이지 않고 일부만 처리하는 방법을 사용하여 용량 줄이기

과제1. Wikipedia에서 테이블을 가진 페이지에서 DF 추출해보기.

In [21]:
url1 = 'https://ko.wikipedia.org/wiki/%EC%86%90%ED%9D%A5%EB%AF%BC'
dfs1 = pd.read_html(url1)
len(dfs1)

27

In [22]:
dfs1[7]

,#,일시,장소,상대 국가,득점,결과,매치 형식
0,1,2011년 1월 18일,카타르 도하 타니 빈 자심 스타디움,인도,4-1,4-1,2011년 AFC 아시안컵
1,2,2013년 3월 26일,대한민국 서울 서울월드컵경기장,카타르,2-1,2-1,2014년 FIFA 월드컵 아시아 지역 최종 예선
2,3,2013년 9월 6일,대한민국 인천 인천축구전용경기장,아이티,1-0,4-1,친선경기
3,4,2013년 9월 6일,대한민국 인천 인천축구전용경기장,아이티,4-1,4-1,친선경기
4,5,2013년 10월 15일,대한민국 천안 천안종합운동장,말리,2-1,3-1,친선경기
5,6,2014년 3월 5일,그리스 아테네 카라이스카키스 스타디움,그리스,2-0,2-0,친선경기
6,7,2014년 6월 22일,브라질 포르투알레그리 이스타지우 베이라히우,알제리,1-3,2-4,2014년 FIFA 월드컵
7,8,2015년 1월 22일,오스트레일리아 멜버른 멜버른 렉탱귤러 스타디움,우즈베키스탄,1-0,2-0,2015년 AFC 아시안컵
8,9,2015년 1월 22일,오스트레일리아 멜버른 멜버른 렉탱귤러 스타디움,우즈베키스탄,2-0,2-0,2015년 AFC 아시안컵
9,10,2015년 1월 31일,오스트레일리아 시드니 스타디움 오스트레일리아,오스트레일리아,1-1,1-2,2015년 AFC 아시안컵
10,11,2015년 6월 16일,태국 방콕 라차망칼라 국립 경기장,미얀마,2-0,2-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
11,12,2015년 9월 3일,대한민국 화성 화성종합경기타운,라오스,2-0,8-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
12,13,2015년 9월 3일,대한민국 화성 화성종합경기타운,라오스,5-0,8-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
13,14,2015년 9월 3일,대한민국 화성 화성종합경기타운,라오스,7-0,8-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
14,15,2015년 11월 17일,라오스 비엔티안 라오스 신국립경기장,라오스,3-0,5-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
15,16,2015년 11월 17일,라오스 비엔티안 라오스 신국립경기장,라오스,5-0,5-0,2018년 FIFA 월드컵 아시아 지역 2차 예선
16,17,2016년 10월 6일,대한민국 수원 수원월드컵경기장,카타르,3-2,3-2,2018년 FIFA 월드컵 아시아 지역 최종 예선
17,18,2017년 10월 10일,스위스 빌/비엔 티쏘 아레나,모로코,1-3,1-3,친선경기
18,19,2017년 11월 10일,대한민국 수원 수원월드컵경기장,콜롬비아,1-0,2-1,친선경기
19,20,2017년 11월 10일,대한민국 수원 수원월드컵경기장,콜롬비아,2-0,2-1,친선경기
20,21,2018년 5월 28일,대한민국 대구 대구스타디움,온두라스,1-0,2-0,친선경기
21,22,2018년 6월 23일,러시아 로스토프 로스토프 아레나,멕시코,1-2,1-2,2018년 FIFA 월드컵
22,23,2018년 6월 27일,러시아 카잔 카잔 아레나,독일,2-0[64],2-0,2018년 FIFA 월드컵
23,24,2019년 3월 26일,대한민국 서울 서울월드컵경기장,콜롬비아,1-0,2-1,친선경기
24,25,2019년 10월 10일,대한민국 화성 화성종합경기타운,스리랑카,1-0,8-0,2022년 FIFA 월드컵 아시아 지역 2차 예선
25,26,2019년 10월 10일,대한민국 화성 화성종합경기타운,스리랑카,5-0,8-0,2022년 FIFA 월드컵 아시아 지역 2차 예선
26,27,2021년 6월 13일,대한민국 고양 고양종합운동장,레바논,2-1,2-1,2022년 FIFA 월드컵 아시아 지역 2차 예선
27,28,2021년 10월 7일,대한민국 안산 안산와스타디움,시리아,2-1,2-1,2022년 FIFA 월드컵 아시아 지역 최종 예선
28,29,2021년 10월 12일,이란 테헤란 아자디 스타디움,이란,1-0,1-1,2022년 FIFA 월드컵 아시아 지역 최종 예선
29,30,2021년 11월 16일,카타르 도하 타니 빈 자심 스타디움,이라크,2-0,3-0,2022년 FIFA 월드컵 아시아 지역 최종 예선
30,31,2022년 3월 24일,대한민국 서울 서울월드컵경기장,이란,1-0,2-0,2022년 FIFA 월드컵 아시아 지역 최종 예선